<!doctype html>
<html lang="en"  xmlns:th="http//www.thyemleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Home page</title>
</head>
<body>
	<section>
	<div class="container">
	<div class="card">
		<div class="card-body">
		
		<div class="container text-center">
	
	<img src="" style="height:200px; width: 200px " class="my_profile_picture" th:src="@{'/img/contact_logo.png'}" alt="profile photo" />
	</div>
	
	<h1 class="text-center mt-3 text-secondary text-nowrap font-weight-light">Smart adding your contact on cloud..</h1>
	<div class="container text-center">
	<a th:href="@{/user/add-contact}" class=" btn btn-primary mt-4 btn-block text-uppercase text-center">Add new contact</a>
	
	<hr />
	<h3>Donate Us</h3>
	<input id="payment_field" type="text"  placeholder="Enter amount here" class="form-control" />
	<br />
	<div class="container text-center"></div>
	<button onclick="paymentStart()" class="btn btn-success btn btn-primary btn-lg">Pay</button>
		</div>
		</div>
	</div>
	</div>
	</section>
</body>
</html>